# Fuel Economy
### Data on Cars used for Testing Fuel Economy
<hr>

The test data used to determine fuel economy estimates is derived from vehicle testing done at EPA's National Vehicle and Fuel Emissions Laboratory in Ann Arbor, Michigan, and by vehicle manufacturers who submit their own test data to EPA.

Each year, EPA provides fuel economy data to the Department of Energy (DOE), the Department of Transportation (DOT) and the Internal Revenue Service (IRS) so that they can administer their fuel economy-related programs.

In this scenario we will analyse how the fuel economy has made impact on vehicles after a decade. Therfor we will use the dataset for 2010 and 2020 respectively and analyse how much impact has been done. One of the major concern of recent times is pollution which contributes to environmental degradatation and vehicles adds the most of it. With the steep increase in vehicle buying we need to analyse the economy of vehicles, as the more fuel is burnt the more residue is emmisioned into the atmosphere plus the rapid decrease in non-renuable sources would put a devastation scenario to our future generations.


### About the Dataset
<hr>

Fuel economy data are the result of vehicle testing done at the Environmental Protection Agency's National Vehicle and Fuel Emissions Laboratory in Ann Arbor, Michigan, and by vehicle manufacturers with oversight by EPA.

#### Attribute Information

The data set comprises of the following features of vehicles and the respective vehicles data points :

* Model – vehicle make and model
* Displ – engine displacement in liters
* Cyl – number of engine cylinders
* Trans – transmission type plus number of gears
    1. Auto - Automatic
    2. Man - Manual
    3. SemiAuto - Semi-Automatic
    4. SCV - Selectable Continuously Variable (e.g. CVT with paddles)
    5. AutoMan - Automated Manual
    6. AMS - Automated Manual-Selectable (e.g. Automated Manual with paddles)
    7. Other - Other
    8. CVT - Continuously Variable
    9. CM3 - Creeper/Manual 3-Speed
    10. CM4 - Creeper/Manual 4-Speed
    11. C4 - Creeper/Manual 4-Speed
    12. C5 - Creeper/Manual 5-Speed
    13. Auto-S2 - Semi-Automatic 2-Speed
    14. Auto-S3 - Semi-Automatic 3-Speed
    15. Auto-S4 - Semi-Automatic 4-Speed
    16. Auto-S5 - Semi-Automatic 5-Speed
    17. Auto-S6 - Semi-Automatic 6-Speed
    18. Auto-S7 - Semi-Automatic 7-Speed
* Drive – 2-wheel Drive, 4-wheel drive/all-wheel drive
* Fuel – fuel(s)
* Veh Class – EPA vehicle class. 
* Air Pollution Score (Smog Rating) 
* City MPG – city fuel economy in miles per gallon
* Hwy MPG – highway fuel economy in miles per gallon
* Cmb MPG – combined city/highway fuel economy in miles per gallon
* Greenhouse Gas Score (Greenhouse Gas Rating) 
* SmartWay – Yes, No, or Elite. 
* Comb CO 2 – combined city/highway CO 2 tailpipe emissions in grams per mile

In [1]:
# import necessary libraries

import numpy as np
import pandas as pd

## Data Cleaning

In [2]:
# import data sets // both 2010 and 2020 economy data

data_2010 = pd.read_excel("data/all_alpha_10.xls")
data_2020 = pd.read_excel("data/all_alpha_20.xlsx")

In [3]:
# view data for 2010

data_2010.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,AHNXT03.7W19,SUV,7,16,21,18,4,no
1,ACURA MDX,3.7,6.0,SemiAuto-6,4WD,Gasoline,FA,B5,Federal Tier 2 Bin 5,AHNXT03.7W19,SUV,6,16,21,18,4,no
2,ACURA RDX,2.3,4.0,SemiAuto-5,2WD,Gasoline,CA,U2,California LEV-II ULEV,AHNXT02.3Y19,SUV,7,19,24,21,5,no
3,ACURA RDX,2.3,4.0,SemiAuto-5,4WD,Gasoline,CA,U2,California LEV-II ULEV,AHNXT02.3Y19,SUV,7,17,22,19,4,no
4,ACURA RDX,2.3,4.0,SemiAuto-5,2WD,Gasoline,FA,B5,Federal Tier 2 Bin 5,AHNXT02.3Y19,SUV,6,19,24,21,5,no

In [4]:
# view data for 2020

data_2020.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,LHNXV02.4KH3,small car,3,24,34,28,6,No,316
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,LHNXV02.4KH3,small car,3,24,34,28,6,No,316
2,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,LHNXV03.0ABC,small SUV,3,26,27,27,6,No,333
3,ACURA MDX,3.0,6.0,AMS-7,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,LHNXV03.0ABC,small SUV,3,26,27,27,6,No,333
4,ACURA MDX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,LHNXV03.5PBM,small SUV,3,20,27,23,5,No,387

In [5]:
# check shape od data set
print(data_2010.shape)
print(data_2020.shape)

(2342, 17)
(2523, 18)

In [6]:
# check columns

print(data_2010.columns)
print(data_2020.columns)

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Stnd Description', 'Underhood ID', 'Veh Class', 'Air Pollution Score',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')
Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

#### Few changes have to be made :

1. Data set for the year 2010 contains a column 'Sales Area'  and year 2020 contains the column 'Cert Region'. Which are same, after checking the values we should rename either one of them.


2. Year 2010 does not contain column 'Comb C02' whereas 2020 does therefor we will remove the column from 2020.

#### Check columns 'Sales Area' and 'Cert Region'.

In [7]:
data_2010['Sales Area'].value_counts()

FA    1118
CA    1041
FC     183
Name: Sales Area, dtype: int64

In [8]:
data_2020['Cert Region'].value_counts()

CA    1263
FA    1260
Name: Cert Region, dtype: int64

### Drop Extraneous Columns

In [9]:
# data set 2010

data_2010.drop(['Stnd','Sales Area','Stnd Description','Underhood ID'], axis=1, inplace=True)

In [10]:
# data set 2010

data_2020.drop(['Stnd','Cert Region','Stnd Description','Underhood ID','Comb CO2'], axis=1, inplace=True)

In [11]:
# check weather all columns are same and of same structure

(data_2010.columns == data_2020.columns).all()

True

### Rename Columns

In [12]:
# replace space with _ and convert all letters to lowercase for ease
data_2010.rename(columns =lambda x: x.strip().lower().replace(' ','_'), inplace=True)

In [13]:
# replace space with _ and convert all letters to lowercase for ease
data_2020.rename(columns =lambda x: x.strip().lower().replace(' ','_'), inplace=True)

### Drop rows with missing values

In [14]:
# view missing value count for each feature in 2010
data_2010.isnull().sum()

model                     0
displ                     4
cyl                       4
trans                     0
drive                     0
fuel                      0
veh_class                 0
air_pollution_score       0
city_mpg                181
hwy_mpg                 181
cmb_mpg                 181
greenhouse_gas_score    179
smartway                  0
dtype: int64

In [15]:
# view missing value count for each feature in 2020
data_2020.isnull().sum()

model                    0
displ                   81
cyl                     81
trans                    0
drive                    0
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                 0
hwy_mpg                  0
cmb_mpg                  0
greenhouse_gas_score     0
smartway                 0
dtype: int64

In [16]:
# drop values
data_2010.dropna(inplace=True)
data_2020.dropna(inplace=True)

In [17]:
# check if any column in data 2010 and 2020 has null data
data_2010.isnull().sum().any()
data_2020.isnull().sum().any()

False

### Dedupe Data

In [18]:
# drop duplicates in both the datasets
data_2010.drop_duplicates(inplace=True)
data_2020.drop_duplicates(inplace=True)

In [19]:
# print number of duplicates again to confirm dedupe - should both be 0
print(data_2010.duplicated().sum())
print(data_2020.duplicated().sum())

0
0

### Fixing Data Types

In [20]:
# check data type for each columns
print(data_2010.info())
print(data_2020.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1724 entries, 0 to 2341
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1724 non-null   object
 1   displ                 1724 non-null   float64
 2   cyl                   1724 non-null   float64
 3   trans                 1724 non-null   object
 4   drive                 1724 non-null   object
 5   fuel                  1724 non-null   object
 6   veh_class             1724 non-null   object
 7   air_pollution_score   1724 non-null   object
 8   city_mpg              1724 non-null   object
 9   hwy_mpg               1724 non-null   object
 10  cmb_mpg               1724 non-null   object
 11  greenhouse_gas_score  1724 non-null   object
 12  smartway              1724 non-null   object
dtypes: float64(2), object(11)
memory usage: 188.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1223 entries, 0 to 2521
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1223 non-null   object
 1   displ                 1223 non-null   float64
 2   cyl                   1223 non-null   float64
 3   trans                 1223 non-null   object
 4   drive                 1223 non-null   object
 5   fuel                  1223 non-null   object
 6   veh_class             1223 non-null   object
 7   air_pollution_score   1223 non-null   int64
 8   city_mpg              1223 non-null   object
 9   hwy_mpg               1223 non-null   object
 10  cmb_mpg               1223 non-null   object
 11  greenhouse_gas_score  1223 non-null   int64
 12  smartway              1223 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 133.8+ KB
None

In [21]:
# check for data containing / in 2010
data_2010.fuel.str.contains('/').sum()

103

In [22]:
# check for data containing / in 2020
data_2020.fuel.str.contains('/').sum()

68

#### Observation

* We found that ___2010__ dataset contains __103__ and __2020__ dataset contains __134 hybrid vehicles__.

In [23]:
def change_dtype_intfloat(df,inputcolumns):
    '''

    Author : Niladri Ghosh
    Email : niladri1406@gmail.com


    The function takes in a single input, a list, which contains the columns names for the data set.
    Then the funtion makes two copies of dataframe since there are hybrid vehicles present in the 
    dataset, thus the data points contains a "/" to differentiate the values for each model. So we 
    copy two portions to different data frames by splitting it using "/". Finally combining both the
     data frames and convert each column to int respectively.


    '''
    # data frame for hybrid vehicles
    df_hb = df[df['fuel'].str.contains('/')]
    
    # create two copies
    df1 = df_hb.copy()
    df2 = df_hb.copy()
    
    inputcolumns = inputcolumns + ['fuel']
    
    for x in inputcolumns:
        
        df1[x] = df1[x].apply(lambda y: y.split("/")[0])
        df2[x] = df2[x].apply(lambda y: y.split("/")[1])
    
    # combine two data frames 
    new_df = df1.append(df2)
        
    # drop hybrid data drom original data frame
    df.drop(df_hb.index, inplace=True)
    
    # add new data frame to original data frame
    df = df.append(new_df, ignore_index=True)
    
    inputcolumns.remove('fuel')
    
    # change data type of columns
    for x in inputcolumns:
        try:
            df[x] = df[x].str.extract('(\d+)').astype(int)
        except:
            df[x] = df[x].str.extract('(\d+)').astype(float)
    
    return df

In [24]:
# convert column to int and float accordingly for 2010
ch_data_10 = ['air_pollution_score','city_mpg','hwy_mpg','cmb_mpg','greenhouse_gas_score']
df_2010 = change_dtype_intfloat(data_2010,ch_data_10)

In [25]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1827 non-null   object
 1   displ                 1827 non-null   float64
 2   cyl                   1827 non-null   float64
 3   trans                 1827 non-null   object
 4   drive                 1827 non-null   object
 5   fuel                  1827 non-null   object
 6   veh_class             1827 non-null   object
 7   air_pollution_score   1818 non-null   float64
 8   city_mpg              1827 non-null   int64
 9   hwy_mpg               1827 non-null   int64
 10  cmb_mpg               1827 non-null   int64
 11  greenhouse_gas_score  1818 non-null   float64
 12  smartway              1827 non-null   object
dtypes: float64(4), int64(3), object(6)
memory usage: 185.7+ KB

In [26]:
df_2010[df_2010['air_pollution_score'].isna()==True]

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
36,AUDI A3,2.0,4.0,SemiAuto-6,2WD,Diesel,station wagon,NaN,29,37,32,NaN,yes
69,AUDI Q7,3.0,6.0,SemiAuto-6,4WD,Diesel,SUV,NaN,17,24,20,NaN,no
1502,VOLKSWAGEN Golf,2.0,4.0,Man-6,2WD,Diesel,small car,NaN,29,39,32,NaN,yes
1503,VOLKSWAGEN Golf,2.0,4.0,SemiAuto-6,2WD,Diesel,small car,NaN,29,37,32,NaN,yes
1518,VOLKSWAGEN Jetta,2.0,4.0,Man-6,2WD,Diesel,small car,NaN,29,39,32,NaN,yes
1519,VOLKSWAGEN Jetta,2.0,4.0,SemiAuto-6,2WD,Diesel,small car,NaN,29,37,32,NaN,yes
1526,VOLKSWAGEN Jetta SportWagen,2.0,4.0,Man-6,2WD,Diesel,station wagon,NaN,29,39,32,NaN,yes
1527,VOLKSWAGEN Jetta SportWagen,2.0,4.0,SemiAuto-6,2WD,Diesel,station wagon,NaN,29,37,32,NaN,yes
1554,VOLKSWAGEN Touareg,3.0,6.0,SemiAuto-6,4WD,Diesel,SUV,NaN,18,24,20,NaN,no

#### Since few of the columns contained "mod / modified" unkown parameter data, we would remove them.

In [27]:
# remove values
df_2010.dropna(inplace=True)

In [28]:
# convert column to int and float accordingly for 2010
ch_data_20 = ['city_mpg','hwy_mpg','cmb_mpg']
df_2020 = change_dtype_intfloat(data_2020,ch_data_20)

In [29]:
# check data 
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1291 entries, 0 to 1290
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1291 non-null   object
 1   displ                 1291 non-null   float64
 2   cyl                   1291 non-null   float64
 3   trans                 1291 non-null   object
 4   drive                 1291 non-null   object
 5   fuel                  1291 non-null   object
 6   veh_class             1291 non-null   object
 7   air_pollution_score   1291 non-null   int64
 8   city_mpg              1291 non-null   int64
 9   hwy_mpg               1291 non-null   int64
 10  cmb_mpg               1291 non-null   int64
 11  greenhouse_gas_score  1291 non-null   int64
 12  smartway              1291 non-null   object
dtypes: float64(2), int64(5), object(6)
memory usage: 131.2+ KB

## Save cleaned data

In [30]:
### Save Data Sets
df_2010.to_csv('data/data_2010_v1.csv', index=False)
df_2020.to_csv('data/data_2020_v1.csv', index=False)