# Results with Merged Dataset

### Q7: For all of the models that were produced in 2010 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

In [1]:
# import necesary libraries

import numpy as np
import pandas as pd
from IPython.display import display

pd.options.display.max_columns = None

In [3]:
# load dataset
df_combined = pd.read_csv('data/data_combined.csv')

### 1. Create a new dataframe, `mpg_model`, that contain the mean combined mpg values in 2010 and 2020 for each unique model

In [7]:
# group by model, mean cmb_mpg_2010 and mean cmb_mpg for each.
mpg_model = df_combined.groupby('model').mean()[['cmb_mpg_2010', 'cmb_mpg']]

In [8]:
mpg_model.head()

                  cmb_mpg_2010  cmb_mpg
model
ACURA MDX            18.000000     24.0
ACURA RDX            20.000000     23.5
ASTON MARTIN DBS     13.500000     17.0
AUDI A3              24.000000     27.5
AUDI A4              24.666667     28.5

### 2. Create a new column, `mpg_change`, with the change in mpg

In [9]:
# Subtract the mean mpg in 2010 from that in 2020 to get the change in mpg
mpg_model['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2010']

In [10]:
mpg_model.head()

                  cmb_mpg_2010  cmb_mpg  mpg_change
model
ACURA MDX            18.000000     24.0    6.000000
ACURA RDX            20.000000     23.5    3.500000
ASTON MARTIN DBS     13.500000     17.0    3.500000
AUDI A3              24.000000     27.5    3.500000
AUDI A4              24.666667     28.5    3.833333

### 3. Find the vehicle that improved the most

In [11]:
# maximum change
max_change = mpg_model['mpg_change'].max()
max_change

18.666666666666664

In [12]:
# find details 
mpg_model[mpg_model['mpg_change'] == max_change]

         cmb_mpg_2010    cmb_mpg  mpg_change
model
AUDI Q5          20.0  38.666667   18.666667

### AUDI Q5 has a masive increase in mileage of 18.6 mpg.

### 4. Find the vehicle that improved the least

In [13]:
# maximum change
min_change = mpg_model['mpg_change'].min()
min_change

-3.0

In [14]:
# find details 
mpg_model[mpg_model['mpg_change'] == min_change]

                       cmb_mpg_2010  cmb_mpg  mpg_change
model
ROUSH Stage 3 Mustang          17.5     14.5        -3.0

### Roush Stage 3 Mustang had a decrease in mileage of 3 mpg, and we certainly know why ! Its all muscle and power .

### 5. Find the vehicle that had no improvement

In [15]:
mpg_model[mpg_model['mpg_change']==0]

                         cmb_mpg_2010  cmb_mpg  mpg_change
model
FORD Transit Connect             23.0     23.0         0.0
LEXUS LX 570                     14.0     14.0         0.0
PORSCHE Boxster                  23.0     23.0         0.0
PORSCHE Cayman                   23.0     23.0         0.0
ROLLS-ROYCE Phantom              14.0     14.0         0.0
ROLLS-ROYCE Phantom EWB          14.0     14.0         0.0

### There are 6 vehicle that had no change in thier mileage.